<%- include('templates/_header') %>

<title>Rari-Caturas TV</title>
<div class="contenedor-mensaje">
    <p>
        Está página nace a partir de que me eliminarón mi canal de
        YouTube el cual ya tenia
        más de 4 años <i class="fa-solid fa-heart-crack fa-xs"
            style="color: #ef233c;"></i> y para
        evitar algo parecido mejor tener las series de esta forma,
        además así se pueden
        ver de forma online con la opción de descargar. Por lo que
        espero la página sea de su
        agrado y disfruten de todo el contenido <i
            class="fa-solid fa-face-smile-beam fa-xs"
            style="color: #FFD43B;"></i>
    </p>
</div>
<div class="contenedor-series-recomendadas">
    <h2 class="titulo-series">Series recomendadas</h2>
    <div class="contenedor-posters">

        <% if (informacion) { %>
        <% for( let i = 0; i < informacion.length; i++ ) { %>
        <a href="/watch/<%= informacion[i].idSerie %>/">
            <img src="<%= informacion[i].poster %>"
            srcset="
            <%= informacion[i].posterMobile %> 1500w,
            <%= informacion[i].poster %> 2000w">
        </a>
            <% } %>
            <% } %>
    </div>
</div>
<div class="contenedor-series">
    <h2 class="titulo-series">Series</h2>
    <div class="contenedor-posters-series">

        <% for( let i = 0; i < serie.length; i++ ) { %>
            <a href="/watch/<%= serie[i].idSerie %>">
                <img src="<%= serie[i].poster %>" 
                srcset="
                <%= serie[i].posterMobile %> 320w, 
                <%= serie[i].posterMobile %> 480w, 
                <%= serie[i].posterMobile %> 1500w, 
                <%= serie[i].poster %> 2000w"></a> 
        <% } %>
    </div>
</div>

</main>

<%- include('templates/_footer') %>
