<%- include('templates/_header') %>

<title><%= serie.nombre %></title>
<main class="contenedor-serie">
    <div class="contenedor-banner"
        style="background: linear-gradient(rgba(0, 0, 0, .05) 0%, #000 100%), url('<%= serie.banner %>'); background-size: cover; background-position: top; height: 40em; width: 100%; display: flex; align-items: end;">
        <div class="descripcion-serie">
            <div>
                <img src="<%= serie.logo %>" alt class="logo-serie">
                <!-- <img src="images/Logos/Aqua-Teen-Logo.png" alt class="logo-serie"> -->
            </div>
            <!-- Descripcion de la serie -->
            <div><p class="contenedor-sinopsis">
                    <%= serie.descripcion %>
                </p>
            </div>
            <!-- MENU DESPLEGAGLE -->
            <div class="contenedor-botones">
                <div class="nav-desplegable">
                    <button class="boton-temporadas">Temporadas <i
                            class="fa-solid fa-angle-down"></i></button>
                    <div class="nav-contenedor">
                        <% for( let i = 0; i < serie.noTemporadas; i++ ) { %>
                        <a
                            href="/watch/<%= serie.idSerie %>/<%= serie.season %><%= (i + 1) %>">Temporada
                            <%= (i + 1)%></a>
                        <% } %>
                    </div>
                </div>

                <button class="boton-info" id="openModal"><i
                        class="fa-solid fa-circle-info"
                        aria-hidden="true"></i>Información</button>
                <dialog class="modal" id="mainModal">
                    <div class="titulo-info">
                        <h2>Información</h2>
                    </div>
                    <div class="info">
                        <h3><b>Resolución:</b> 1920x1080</h3>
                        <h3><b>Idioma:</b> Latino/Inglés</h3>
                        <h3><b>Subtitulos:</b> Español</h3>
                        <h3><b>Peso:</b> 1.5 GB x Episodio</h3>
                    </div>
                    <!-- <button onclick="closeModal()">Cerrar</button> -->
                    <button class="btn-cerrar" id="closeModal">Cerrar</button>
                </dialog>
            </div>
        </div>
    </div>
    <div class="contenedor-episodios">
        <h3>Episodios</h3>
        <div class="flex-episodios">
            <!-- Listado de episodios -->
            <% if (capitulos) { %>
            <% for( let i = 0; i < capitulos.length; i++ ) { %>
            <div>
                <a
                    href="/watch/<%= serie.idSerie %>/<%= capitulos[i].idTemporada %>/<%= capitulos[i].nombre %>"><img
                        src="<%= capitulos[i].caratula %>" alt></a>
                <h4>Ep.<%= (i + 1) %> - <%= capitulos[i].nombre %></h4>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
</main>

<%- include('templates/_footer') %>
